<h2>Single Page Application Demo</h2>
<p>Example application running MVC with AngularJs layered on top to create a Single Page Application.</p>
<div>
    @Html.ActionLink("View Customers", "Index", "Customer")
</div>